<head>
<%= stylesheet_link_tag "users",:media => "all" %>
</head>


<div class="login">
    <h1>患者情報登録</h1>
<%= form_with model: @user, url: user_registration_path, class: 'form', local: true do |f| %>

      <p class="field">
        <%= f.text_field :medical_record, id:"name", autofocus: true, placeholder:"Medical record", autocomplete: "medical_record" %>
        <i class="fa fa-user"></i>
      </p>

      <p class="field">
        <%= f.email_field :email, id:"name", autofocus: true, placeholder:"Email", autocomplete: "email" %>
        <i class="fa fa-user"></i>
      </p>

      <p class="field">
        <%= f.password_field :password, id:"password", placeholder:"password", autocomplete: "new-password" %>
        <i class="fa fa-lock"></i>
      </p>

      <p class="field">
        <%= f.password_field :password_confirmation, id:"password", placeholder:"password_confirmation", autocomplete: "new-password" %>
        <i class="fa fa-lock"></i>
      </p>

      <p class="submit"><%= f.submit "登録する", id:"sent" %></p>

  </div> 
  <div class="copyright">
    <p>Copyright &copy; 2014. Created by <a href="http://febbygunawan.com" target="_blank">Febby Gunawan</a></p>
  </div> 
<% end %>


