<%= stylesheet_link_tag "basic_information",:media => "all" %>
<% @funerals.each do |funerals| %>
<% if funerals.user_id == current_user.id %>
<div class="has-one-form">
  <div class="form-child">
    <div class="information">葬儀・埋葬に関して</div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">喪主名</label>
        </div>
        <div class='output-name-wrap'>
          <%= funerals.chief_mourner %>
        </div>
      </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">ご自身の信仰している宗教</label>
          </div>
          <div class='output-name-wrap'>
            <%= funerals.religion.religion %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">お通夜の場所</label>
          </div>
          <div class='output-name-wrap'>
            <%= funerals.wake_place.place %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">葬儀・告別式の場所</label>
          </div>
          <div class='output-name-wrap'>
            <%= funerals.funeral_place.plase %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">葬儀の規模</label>
          </div>
          <div class='output-name-wrap'>
            <%= funerals.funeral_scale.scale %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">葬儀費用</label>
          </div>
          <div class='output-name-wrap'>
            <%= funerals.funeral_expenses.category %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">埋葬場所</label>
          </div>
          <div class='output-name-wrap'>
            <%= funerals.burial_place.place %>
          </div>
        </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">葬儀・埋葬詳細</label>
        </div>
        <div class='output-details-wrap'>
          <%= funerals.funerals_details %>
        </div>
      </div>
      <%= link_to '編集する', edit_user_funeral_path(id: current_user.id), {class: "input-btn"} %>
  </div>
</div>
<% else %>
<%= link_to '葬儀・埋葬の情報登録', new_user_funeral_path, {class: "new-btn"} %>
<% end %>
<% end %>
