<%= stylesheet_link_tag "basic_information",:media => "all" %>
<% @basic.each do |basic| %>
<div class="has-one-form">
  <div class="form-child">
      <div class="information">基本情報</div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">お名前</label>
          </div>
          <div class='output-name-wrap'>
            <%= basic.last_name %>
            <%= basic.first_name %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">お名前(カナ)</label>
          </div>
          <div class='output-name-wrap'>
            <%= basic.last_name_kana %>
            <%= basic.first_name_kana %>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">生年月日</label>
          </div>
          <div class='output-birth-wrap'>
            <%= basic.birthday %>
          </div>
        </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">郵便番号</label>
            </div>
            <div class='output-name-wrap'>
              <%= basic.postal_code %>
            </div>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">都道府県</label>
            </div>
            <div class='output-name-wrap'>
              <%= basic.prefecture.name %>
            </div>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">市区町村</label>
            </div>
            <div class='output-name-wrap'>
              <%= basic.city %>
            </div>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">番地</label>
            </div>
            <div class='output-name-wrap'>
              <%= basic.address %>
            </div>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">建物名</label>
            </div>
            <div class='output-name-wrap'>
              <%= basic.building %>
            </div>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">血液型</label>
            </div>
            <div class='output-name-wrap'>
              <%= basic.blood_type.type %>
            </div>
          </div>
    <% if basic == nil %>
      <%= link_to '基本情報登録', new_user_basic_information_path, {class: "input-btn"} %>
    <% else %>
      <%= link_to '編集する', edit_user_basic_information_path(id: current_user.id), {class: "input-btn"} %>
    <% end %>
  </div>
</div>
<% end %>


