<%= form_with model: @asset, url: user_assets_path, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">資産の種類</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.collection_select(:assets_category_id, AssetsCategory.all, :id, :category, {}, {class:"select-box", id:"assets_category"}) %>
    </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">金融機関名(全角)</label>
      <span class="indispensable">任意</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_field :financial, class:"input-default", id:"financial", placeholder:"例) 〇〇銀行" %>
    </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">資産についての詳細</label>
      <span class="indispensable">任意</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :assets_details, class:"input-default", id:"assets-details", placeholder:"例) 資産についての補足事項等を入力" %>
    </div>
  </div>

  <div class='buy-btn'>
    <%= f.submit "登録する" ,class:"buy-red-btn" %>
  </div>

<% end %>